<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Test">
    <test verbose="2" preserve-order="true" name="C:/Users/dibya/IdeaProjects/Guru99Bank">
        <classes>
            <class name="tests.loginTests">
                <methods>
                    <include name="successfulLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>